.section.cards-container {
	padding: 45px 18px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.cards > ul > li {
  background-color: var(--background-color);
  margin-bottom: 24px;
}

.cards .cards-card-body {
  padding: 16px;
}

.cards h2 {
	color: rgb(226, 35, 26);
    font-size: 50px;
    text-align: left;
	margin: 0;
}

.cards h3 {
    color: rgb(21, 21, 21);
    font-size: 30px;
	margin: 0 0 32px 0;
}

.cards p {
    font-size: 16px;
    line-height: 20px;
    margin: 48px 0 16px;
}


@media (width >= 676px){
	.section.cards-container {
		padding: 45px 74px;
	}

	.cards h2,
	.cards h3 {
		margin-left: 32px;
	}
}

@media (width >= 1280px){
	.cards > ul {
		display: flex;
		gap: 16px;
		max-width: 1240px;
	}

	.cards > ul > li {
		margin-bottom: 0;
		width: 33%;
	}

	.cards .cards-card-body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.cards h2 {
		width: fit-content;
		margin-left: 0;
	}

	.cards h3 {
		margin: 0 0 0 24px;
		width: 50%;
		line-height: 1;
	}
}


/* story card grid */
.section.cards-container.story-links > .default-content-wrapper h2 {
	font-weight: 700;
    font-size: 2.25rem;
    margin: 0 0 36px 0;
}

.section.cards-container.story-links > .default-content-wrapper p {
	font-size: 19.416px;
	font-weight: 500;
	margin: 0.25em 0 0.5em;
    line-height: 1.4em;
}

.section.cards-container.story-links .cards ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(2, 1fr);
}

.section.cards-container.story-links .cards ul > li { 
	width: 100%;
}

.section.cards-container.story-links .cards ul > li > picture { 
	display: block;
}

.section.cards-container.story-links .cards ul > li > picture > img { 
	display: block;
	object-fit: cover;
	width: 100%;
	height: 400px;
}

.section.cards-container.story-links .cards ul > li .content-wrapper { 
	padding: 60px 20px 20px 20px;
	position: relative;
}

.section.cards-container.story-links .cards ul > li .tag-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.section.cards-container.story-links .cards ul > li .tag-wrapper span {
	display: block;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    background-color: rgba(226, 35, 26, 1);
    padding: 10px 20px;
	font-size: 12px;
    font-weight: 600;
	color: var(--light-color);
}

.section.cards-container.story-links .cards ul > li .content-wrapper h4 { 
	font-size: 24px;
	font-weight: 500;
	line-height: 1.5;
	height: calc(1.5em * 2)
}

.section.cards-container.story-links .cards ul > li .content-wrapper .buttons-container {
	display: flex;
	gap: 18px;
	margin-bottom: 18px;
}

.section.cards-container.story-links .cards ul > li .content-wrapper .buttons-container a {
	margin: 0;
	display: inline-block;
}

.section.cards-container.story-links .cards ul > li .content-wrapper .buttons-container a:last-of-type {
	border: solid 1.5px var(--lenovo-red);
	color: var(--lenovo-red);
	background-color: transparent;
}

@media(width <= 686px) {
	.section.cards-container.story-links .cards ul {
		grid-template-columns: repeat(1, 1fr);
	}

	.section.cards-container.story-links .cards ul > li > picture > img { 
		height: 250px
	}
}
