.section.cards-container {
	padding: 45px 18px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.cards > ul > li {
  background-color: var(--background-color);
  margin-bottom: 24px;
}

.cards .cards-card-body {
  padding: 16px;
}

.cards h2 {
	color: rgb(226, 35, 26);
    font-size: 50px;
    text-align: left;
	margin: 0;
}

.cards h3 {
    color: rgb(21, 21, 21);
    font-size: 30px;
	margin: 0 0 32px 0;
}

.cards p {
    font-size: 16px;
    line-height: 20px;
    margin: 48px 0 16px;
}


@media (width >= 676px){
	.section.cards-container {
		padding: 45px 74px;
	}

	.cards h2,
	.cards h3 {
		margin-left: 32px;
	}
}

@media (width >= 1280px){
	.cards > ul {
		display: flex;
		gap: 16px;
		max-width: 1240px;
	}

	.cards > ul > li {
		margin-bottom: 0;
		width: 33%;
	}

	.cards .cards-card-body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.cards h2 {
		width: fit-content;
		margin-left: 0;
	}

	.cards h3 {
		margin: 0 0 0 24px;
		width: 50%;
		line-height: 1;
	}
}


/* story card grid */
.section.cards-container.story-links > .default-content-wrapper h2 {
	font-weight: 700;
    font-size: 2.25rem;
    margin: 0 0 36px 0;
}

.section.cards-container.story-links > .default-content-wrapper p {
	font-size: 19.416px;
	font-weight: 500;
	margin: 0.25em 0 0.5em;
    line-height: 1.4em;
}

.section.cards-container.story-links .cards ul {
	border: solid 2px lime;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section.cards-container.story-links .cards ul > li { 
	width: 100%;
}