main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  max-height: 425px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.hero.story {
	color: var(--light-color);
}

.hero.story > div {
	border: solid 2px cyan;
	/* height: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-49%, -50%);
    max-width: 1140px;
    width: 100%; */
}

.hero.story > div > div:nth-of-type(2){
	border: solid 2px fuchsia;
	width: 60%;
	padding: 20px;
	background-color: var(--hero-float);
}

.hero.story h1 {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1.1;
	margin: 15px 0;
	word-break: break-word;
	border: solid 2px orange;
}

.hero.story h4 {
	border: solid 2px lime;
	font-size: 1rem;
	line-height: 1.4;
	width: fit-content;
	margin: 0 0 20px;
}

.hero.story p {
	font-size: 1.25rem;
    line-height: 1.6;
	margin: 0;
}